:root {
    --focusable-col: transparent; /* Used mostly for card elements such as entries on the whats new tab OLD VALUE rgba(0,0,0,0.35) */
    --accent-col: transparent;
    --border-color: transparent;
    --stroke-color-card-stroke-default: white !important; /* border color in library */
    --fill-color-subtle-secondary: rgba(0,0,0,0.25) !important; /* Selected tab Color */
    --accent-secondary: transparent; /* Drop down window color */
}
[data-millennium-plugin~="dwmx"] #popup_target ._1ENHEsrSLcTRtPQFl1F-wL { /* Override Background */
    background: rgba(0,0,0,0.2) !important;
}

[data-millennium-plugin~='dwmx'] #popup_target ._9sPoVBFyE_vE87mnZJ5aB ._3x1HklzyDs4TEjACrRO2tB { /* Library sidebar */
    background: transparent !important;
}
#popup_target ._276E6ijBpjMA2_iTxNhhjc._2g5K_hJWc7jVo81zuejhk2 { /* seperator in the library */
    background: transparent !important;
}
#popup_target .DialogDropDown { /* Dropdown window border color */
    border: transparent !important;
}
#popup_target ._3_xMyCJAh_Dv99KgZ54P3j.Focusable {
    border: transparent !important;
    background: transparent !important;
}
#popup_target .minimizeButton .title-area-icon-inner::before { 
    content: "" !important;
}
#popup_target .maximizeButton .title-area-icon-inner::before {
    content: "" !important;
}
#popup_target .closeButton .title-area-icon-inner::before {
    content: "" !important;
}
[class="HNbe3eZf6H7dtJ042x1vM HSQWw9HUAP6jtA2OZjS-u _3_IUVzR9tpG_JKEjhwXEAb"] { display: none; } /* Hide game blurred background image */

#popup_target ._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw { /* Hide game background */
    background: transparent !important;
}
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb, .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u { /* Resize blurred hero image */
    height: 122%;
}
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa { /* fixes hero blur effect element to go farther down the page */
    margin-top: 0px;
    height: 5000px;
}